node_modules
.next
.git
.gitignore
Dockerfile
.dockerignore
docker-compose.yml
.env
.env.*
!.env.example
npm-debug.log*
.pnpm-debug.log*
README.md
Docs
SQL
.velite
coverage
*.tsbuildinfo
scaffold-tmp
